$blue: #4c6aa7;
$blue2: #6ed6d3;
$blue-bright: #3b7cff;
$green: #2ab3b0;
$gray-background: #ebebeb;
$gray-border: #e0e0e0;
$blue-backgroundColor: #e3ebf9;
$blue-backgroundColorHover: #caddff;
$blue-backgroundColorActive: #acc1e7;
$blue-border: #c3d4f4;
