@import "./diagram-js.scss";
@import "./minimap.scss";


* {
  box-sizing: border-box;
}

body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}

.content{
  width: 100%;
  height: 100%;
  overflow: scroll
}

/* FIX CONTEXT PAD ENTRIES */
.djs-context-pad .entry:before {
  margin: 0;
}

.canvas {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background-color: rgb(204, 204, 204);
  overflow-y: inherit;
}

/* EXPORT TO CONSOLE */
.export-button {
  position: absolute;
  display: block;
  top: 20px;
  right: 50%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  z-index: 1;
}

.properties-panel{
  float: right;
  width: 30%;
  height: 100%;
  overflow: scroll;
}

.djs-palette.two-column.open {
  width: 48px;
}

// Hide entries from lateral pallete
// .bpmn-icon-hand-tool,
// .bpmn-icon-lasso-tool,
// .bpmn-icon-space-tool,
// .bpmn-icon-connection-multi,
// .bpmn-icon-subprocess-expanded,
// .bpmn-icon-data-object,
// .bpmn-icon-data-store,
.bpmn-icon-group { 
  visibility: hidden;
  display: none;
}


.content.with-diagram .canvas {
  visibility: visible;
}
