@charset "UTF-8";
/**
 * outline styles
 */
.djs-outline {
  fill: none;
  visibility: hidden;
}

.djs-element.hover .djs-outline,
.djs-element.selected .djs-outline {
  visibility: visible;
  shape-rendering: crispEdges;
  stroke-dasharray: 3, 3;
}

.djs-element.selected .djs-outline {
  stroke: #8888ff;
  stroke-width: 1px;
}

.djs-element.hover .djs-outline {
  stroke: #6ed6d3;
  stroke-width: 2px;
}

.djs-shape.connect-ok .djs-visual > :nth-child(1) {
  fill: #dcfecc !important;
}

.djs-shape.connect-not-ok .djs-visual > :nth-child(1),
.djs-shape.drop-not-ok .djs-visual > :nth-child(1) {
  fill: #f9dee5 !important;
}

.djs-shape.new-parent .djs-visual > :nth-child(1) {
  fill: #f7f9ff !important;
}

svg.drop-not-ok {
  background: #f9dee5 !important;
}

svg.new-parent {
  background: #f7f9ff !important;
}

.djs-connection.connect-ok .djs-visual > :nth-child(1),
.djs-connection.drop-ok .djs-visual > :nth-child(1) {
  stroke: #90dd5f !important;
}

.djs-connection.connect-not-ok .djs-visual > :nth-child(1),
.djs-connection.drop-not-ok .djs-visual > :nth-child(1) {
  stroke: #e56283 !important;
}

.drop-not-ok,
.connect-not-ok {
  cursor: not-allowed;
}

.djs-element.attach-ok .djs-visual > :nth-child(1) {
  stroke-width: 5px !important;
  stroke: rgba(255, 116, 0, 0.7) !important;
}

/**
* Selection box style
*
*/
.djs-lasso-overlay {
  fill: #3b7cff;
  fill-opacity: 0.1;
  stroke-dasharray: 5 1 3 1;
  stroke: #3b7cff;
  shape-rendering: crispEdges;
  pointer-events: none;
}

/**
 * Resize styles
 */
.djs-resize-overlay {
  fill: none;
  stroke-dasharray: 5 1 3 1;
  stroke: #3b7cff;
  pointer-events: none;
}

.djs-resizer-hit {
  fill: none;
  pointer-events: all;
}

.djs-resizer-visual {
  fill: white;
  stroke-width: 1px;
  stroke: black;
  shape-rendering: crispEdges;
  stroke-opacity: 0.2;
}

.djs-cursor-resize-nwse,
.djs-resizer-nw,
.djs-resizer-se {
  cursor: nwse-resize;
}

.djs-cursor-resize-nesw,
.djs-resizer-ne,
.djs-resizer-sw {
  cursor: nesw-resize;
}

.djs-shape.djs-resizing > .djs-outline {
  visibility: hidden !important;
}

.djs-shape.djs-resizing > .djs-resizer {
  visibility: hidden;
}

.djs-dragger > .djs-resizer {
  visibility: hidden;
}

/**
 * drag styles
 */
.djs-dragger .djs-visual circle,
.djs-dragger .djs-visual path,
.djs-dragger .djs-visual polygon,
.djs-dragger .djs-visual polyline,
.djs-dragger .djs-visual rect,
.djs-dragger .djs-visual text {
  fill: none !important;
  stroke: #3b7cff !important;
}

.djs-dragging {
  opacity: 0.3;
}

.djs-dragging,
.djs-dragging > * {
  pointer-events: none !important;
}

.djs-dragging .djs-context-pad,
.djs-dragging .djs-outline {
  display: none !important;
}

/**
 * no pointer events for visual
 */
.djs-visual,
.djs-outline {
  pointer-events: none;
}

/**
 * all pointer events for hit shape
 */
.djs-shape .djs-hit {
  pointer-events: all;
}

.djs-connection .djs-hit {
  pointer-events: stroke;
}

/**
 * shape / connection basic styles
 */
.djs-connection .djs-visual {
  stroke-width: 2px;
  fill: none;
}

.djs-cursor-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.djs-cursor-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.djs-cursor-crosshair {
  cursor: crosshair;
}

.djs-cursor-move {
  cursor: move;
}

.djs-cursor-resize-ns {
  cursor: ns-resize;
}

.djs-cursor-resize-ew {
  cursor: ew-resize;
}

/**
 * snapping
 */
.djs-snap-line {
  stroke: #ffc342;
  stroke: rgba(255, 195, 66, 0.5);
  stroke-linecap: round;
  stroke-width: 2px;
  pointer-events: none;
}

/**
 * snapping
 */
.djs-crosshair {
  stroke: #555;
  stroke-linecap: round;
  stroke-width: 1px;
  pointer-events: none;
  shape-rendering: crispEdges;
  stroke-dasharray: 5, 5;
}

/**
 * palette
 */
.djs-palette {
  position: absolute;
  left: 20px;
  top: 20px;
  box-sizing: border-box;
  width: 48px;
}

.djs-palette .separator {
  margin: 0 5px;
  padding-top: 5px;
  border: none;
  border-bottom: solid 1px #ddd;
  clear: both;
}

.djs-palette .entry:before {
  vertical-align: middle;
}

.djs-palette .djs-palette-toggle {
  cursor: pointer;
}

.djs-palette .entry,
.djs-palette .djs-palette-toggle {
  color: #333;
  font-size: 30px;
  text-align: center;
}

.djs-palette .entry {
  float: left;
}

.djs-palette .entry img {
  max-width: 100%;
}

.djs-palette .djs-palette-entries:after {
  content: '';
  display: table;
  clear: both;
}

.djs-palette .djs-palette-toggle:hover {
  background: #666;
}

.djs-palette .entry:hover {
  color: #3b7cff;
}

.djs-palette .highlighted-entry {
  color: #3b7cff !important;
}

.djs-palette .entry,
.djs-palette .djs-palette-toggle {
  width: 46px;
  height: 46px;
  line-height: 46px;
  cursor: default;
}

/**
 * Palette open / two-column layout is controlled via
 * classes on the palette. Events to hook into palette
 * changed life-cycle are available in addition.
 */
.djs-palette.two-column.open {
  width: 94px;
}

.djs-palette:not(.open) .djs-palette-entries {
  display: none;
}

.djs-palette:not(.open) {
  overflow: hidden;
}

.djs-palette.open .djs-palette-toggle {
  width: 100%;
  height: 10px;
}

/**
 * context-pad
 */
.djs-overlay-context-pad {
  width: 72px;
}

.djs-context-pad {
  position: absolute;
  display: none;
  pointer-events: none;
}

.djs-context-pad .entry {
  width: 22px;
  height: 22px;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  margin: 0 2px 2px 0;
  border-radius: 3px;
  cursor: default;
  background-color: transparent;
  box-shadow: 0 0 2px 1px #fefefe;
  pointer-events: all;
  color: #4c6aa7;
}

.djs-context-pad .entry:before {
  vertical-align: top;
}

.djs-context-pad .entry:hover {
  background: #e3ebf9;
}

.djs-context-pad.open {
  display: block;
}

/**
 * popup styles
 */
.djs-popup .entry {
  line-height: 20px;
  white-space: nowrap;
  cursor: default;
  color: #4c6aa7;
}

/* larger font for prefixed icons */
.djs-popup .entry:before {
  vertical-align: middle;
  font-size: 20px;
}

.djs-popup .entry > span {
  vertical-align: middle;
  font-size: 14px;
}

.djs-popup .entry:hover,
.djs-popup .entry.active:hover {
  background: #e3ebf9;
}

.djs-popup .entry.disabled {
  background: inherit;
}

.djs-popup .djs-popup-header .entry {
  display: inline-block;
  padding: 2px 3px 2px 3px;
  border: solid 1px transparent;
  border-radius: 3px;
}

.djs-popup .djs-popup-header .entry.active {
  color: #3b7cff;
  border: solid 1px #3b7cff;
  background-color: #f6f6f6;
}

.djs-popup-body .entry {
  padding: 4px 10px 4px 5px;
}

.djs-popup-body .entry > span {
  margin-left: 5px;
}

.djs-popup-body {
  background-color: #fefefe;
}

.djs-popup-header {
  border-bottom: 1px solid #ddd;
}

.djs-popup-header .entry {
  margin: 1px;
  margin-left: 3px;
}

.djs-popup-header .entry:last-child {
  margin-right: 3px;
}

/**
 * popup / palette styles
 */
.djs-popup,
.djs-palette {
  background: #fafafa;
  border: solid 1px #ccc;
  border-radius: 2px;
}

/**
 * touch
 */
.djs-shape,
.djs-connection {
  touch-action: none;
}

.djs-segment-dragger,
.djs-bendpoint {
  display: none;
}

/**
 * bendpoints
 */
.djs-segment-dragger .djs-visual {
  fill: rgba(255, 255, 121, 0.2);
  stroke-width: 1px;
  stroke-opacity: 1;
  stroke: rgba(255, 255, 121, 0.3);
}

.djs-bendpoint .djs-visual {
  fill: rgba(255, 255, 121, 0.8);
  stroke-width: 1px;
  stroke-opacity: 0.5;
  stroke: black;
}

.djs-segment-dragger:hover,
.djs-bendpoints.hover .djs-segment-dragger,
.djs-bendpoints.selected .djs-segment-dragger,
.djs-bendpoint:hover,
.djs-bendpoints.hover .djs-bendpoint,
.djs-bendpoints.selected .djs-bendpoint {
  display: block;
}

.djs-drag-active .djs-bendpoints * {
  display: none;
}

.djs-bendpoints:not(.hover) .floating {
  display: none;
}

.djs-segment-dragger:hover .djs-visual,
.djs-segment-dragger.djs-dragging .djs-visual,
.djs-bendpoint:hover .djs-visual,
.djs-bendpoint.floating .djs-visual {
  fill: yellow;
  stroke-opacity: 0.5;
  stroke: black;
}

.djs-bendpoint.floating .djs-hit {
  pointer-events: none;
}

.djs-segment-dragger .djs-hit,
.djs-bendpoint .djs-hit {
  pointer-events: all;
  fill: none;
}

.djs-segment-dragger.horizontal .djs-hit {
  cursor: ns-resize;
}

.djs-segment-dragger.vertical .djs-hit {
  cursor: ew-resize;
}

.djs-segment-dragger.djs-dragging .djs-hit {
  pointer-events: none;
}

.djs-updating,
.djs-updating > * {
  pointer-events: none !important;
}

.djs-updating .djs-context-pad,
.djs-updating .djs-outline,
.djs-updating .djs-bendpoint,
.connect-ok .djs-bendpoint,
.connect-not-ok .djs-bendpoint,
.drop-ok .djs-bendpoint,
.drop-not-ok .djs-bendpoint {
  display: none !important;
}

.djs-segment-dragger.djs-dragging,
.djs-bendpoint.djs-dragging {
  display: block;
  opacity: 1;
}

.djs-segment-dragger.djs-dragging .djs-visual,
.djs-bendpoint.djs-dragging .djs-visual {
  fill: yellow;
  stroke-opacity: 0.5;
}

/**
 * tooltips
 */
.djs-tooltip-error {
  font-size: 11px;
  line-height: 18px;
  text-align: left;
  padding: 5px;
  opacity: 0.7;
}

.djs-tooltip-error > * {
  width: 160px;
  background: #fcecf0;
  color: #9e4c4c;
  padding: 3px 7px;
  border-radius: 5px;
  border-left: solid 5px #ae4949;
}

.djs-tooltip-error:hover {
  opacity: 1;
}

/**
 * search pad
 */
.djs-search-container {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  min-width: 300px;
  max-width: 400px;
  z-index: 10;
  font-size: 1.05em;
  opacity: 0.9;
  background: #fafafa;
  border: solid 1px #ccc;
  border-radius: 2px;
}

.djs-search-container:not(.open) {
  display: none;
}

.djs-search-input input {
  font-size: 1.05em;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
}

.djs-search-input input:focus {
  outline: none;
  border-color: #52b415;
}

.djs-search-results {
  position: relative;
  overflow-y: auto;
  max-height: 200px;
}

.djs-search-results:hover {
  /*background: #fffdd7;*/
  cursor: pointer;
}

.djs-search-result {
  width: 100%;
  padding: 6px 10px;
  background: white;
  border-bottom: solid 1px #aaa;
  border-radius: 1px;
}

.djs-search-highlight {
  color: black;
}

.djs-search-result-primary {
  margin: 0 0 10px;
}

.djs-search-result-secondary {
  font-family: monospace;
  margin: 0;
}

.djs-search-result:hover {
  background: #fdffd6;
}

.djs-search-result-selected {
  background: #fffcb0;
}

.djs-search-result-selected:hover {
  background: #f7f388;
}

.djs-search-overlay {
  background: yellow;
  opacity: 0.3;
}

/**
 * hidden styles
 */
.djs-element-hidden,
.djs-element-hidden .djs-hit,
.djs-element-hidden .djs-outline,
.djs-label-hidden .djs-label {
  display: none !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format('woff2');
}

.djs-minimap {
  position: absolute;
  top: 20px;
  right: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  border: solid 2px #c3d4f4;
  border-radius: 2px;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: #fafafa;
}

.djs-minimap:not(.open) {
  overflow: hidden;
}

.djs-minimap .map {
  display: none;
}

.djs-minimap.open .map {
  display: block;
}

.djs-minimap .map {
  width: 330px;
  height: 180px;
}

.djs-minimap:not(.open) .toggle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #4c6aa7;
  background-color: #e3ebf9;
  border: solid 2px #c3d4f4;
  border-radius: 5%;
}

.djs-minimap:not(.open) .toggle:before {
  font-family: 'Material Icons';
  font-size: 25px;
  content: '\e55b';
  cursor: pointer;
}

.djs-minimap.open .toggle {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #4c6aa7;
  background-color: #e3ebf9;
  border: solid 2px #c3d4f4;
  border-radius: 5%;
  transition: 200ms;
  cursor: pointer;
}

.djs-minimap:not(.open) .toggle:hover {
  background-color: #caddff;
}

.djs-minimap:not(.open) .toggle:active {
  background-color: #acc1e7;
}

.djs-minimap.open .toggle:hover {
  background-color: #caddff;
}

.djs-minimap.open .toggle:active {
  background-color: #acc1e7;
}

.djs-minimap.open .toggle:before {
  font-family: 'Material Icons';
  font-size: 25px;
  content: '\e14c';
}

.djs-minimap .map {
  cursor: crosshair;
}

.djs-minimap .viewport {
  fill: none;
  stroke: none;
}

.djs-minimap .viewport-dom {
  position: absolute;
  border: solid 2px #2ab3b0;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: move;
}

.djs-minimap:not(.open) .viewport-dom {
  display: none;
}

.djs-minimap.open .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.djs-minimap .cursor-crosshair {
  cursor: crosshair;
}

.djs-minimap .cursor-move {
  cursor: move;
}

.djs-palette {
  width: 96px;
}

.djs-popup,
.djs-palette {
  background: #ebebeb;
  border: solid 2px #e0e0e0;
  border-radius: 8px;
}

.djs-palette .entry,
.djs-palette .djs-palette-toggle {
  color: #4c6aa7;
}

.action-button-panel {
  position: absolute;
  bottom: 224px;
  right: 20px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #4c6aa7;
  background-color: #e3ebf9;
  border: solid 2px #c3d4f4;
  border-radius: 2px;
  z-index: 1;
  transition: 200ms;
  cursor: pointer;
}

.action-button-panel:before {
  font-family: 'Material Icons';
  font-size: 25px;
  content: '';
}

.action-button-panel:hover {
  background-color: #caddff;
}

.action-button-panel:active {
  background-color: #acc1e7;
}

.action-button-fit {
  position: absolute;
  bottom: 170px;
  right: 20px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #4c6aa7;
  background-color: #e3ebf9;
  border: solid 2px #c3d4f4;
  border-radius: 2px;
  z-index: 1;
  transition: 200ms;
  cursor: pointer;
}

.action-button-fit:before {
  font-family: 'Material Icons';
  font-size: 25px;
  content: '';
}

.action-button-fit:hover {
  background-color: #caddff;
}

.action-button-fit:active {
  background-color: #acc1e7;
}

.action-button-zoom-in {
  position: absolute;
  bottom: 116px;
  right: 20px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #4c6aa7;
  background-color: #e3ebf9;
  border: solid 2px #c3d4f4;
  border-radius: 2px;
  z-index: 1;
  transition: 200ms;
  cursor: pointer;
}

.action-button-zoom-in:before {
  font-family: 'Material Icons';
  font-size: 25px;
  content: '';
}

.action-button-zoom-in:hover {
  background-color: #caddff;
}

.action-button-zoom-in:active {
  background-color: #acc1e7;
}

.action-button-zoom-out {
  position: absolute;
  bottom: 74px;
  right: 20px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #4c6aa7;
  background-color: #e3ebf9;
  border: solid 2px #c3d4f4;
  border-radius: 2px;
  z-index: 1;
  transition: 200ms;
  cursor: pointer;
}

.action-button-zoom-out:before {
  font-family: 'Material Icons';
  font-size: 25px;
  content: '';
}

.action-button-zoom-out:hover {
  background-color: #caddff;
}

.action-button-zoom-out:active {
  background-color: #acc1e7;
}

.action-button-full-screen {
  position: absolute;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #4c6aa7;
  background-color: #e3ebf9;
  border: solid 2px #c3d4f4;
  border-radius: 2px;
  z-index: 1;
  transition: 200ms;
  cursor: pointer;
}

.action-button-full-screen:before {
  font-family: 'Material Icons';
  font-size: 25px;
  content: '';
}

.action-button-full-screen:hover {
  background-color: #caddff;
}

.action-button-full-screen:active {
  background-color: #acc1e7;
}

.action-button-full-screen-exit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #4c6aa7;
  background-color: #e3ebf9;
  border: solid 2px #c3d4f4;
  border-radius: 2px;
  z-index: 1;
  transition: 200ms;
  cursor: pointer;
}

.action-button-full-screen-exit:before {
  font-family: 'Material Icons';
  font-size: 25px;
  content: '';
}

.action-button-full-screen-exit:hover {
  background-color: #caddff;
}

.action-button-full-screen-exit:active {
  background-color: #acc1e7;
}

.bpp-properties-panel {
  background-color: #f8f8f8;
  position: relative;
}
.bpp-properties-panel:empty {
  display: none;
}
.bpp-properties-panel label,
.bpp-properties-panel input {
  vertical-align: middle;
}
.bpp-properties-panel input,
.bpp-properties-panel button,
.bpp-properties-panel textarea,
.bpp-properties-panel [contenteditable] {
  padding: 3px 6px;
  border: 1px solid #ccc;
}
.bpp-properties-panel input:focus,
.bpp-properties-panel button:focus,
.bpp-properties-panel textarea:focus,
.bpp-properties-panel [contenteditable]:focus {
  outline: none;
  border-color: #52b415;
  box-shadow: 0 0 1px 2px fade(#52b415, 20%);
}
.bpp-properties-panel input.invalid,
.bpp-properties-panel button.invalid,
.bpp-properties-panel textarea.invalid,
.bpp-properties-panel [contenteditable].invalid {
  border-color: #cc3333;
  background: #f0c2c2;
}
.bpp-properties-panel input.invalid:focus,
.bpp-properties-panel button.invalid:focus,
.bpp-properties-panel textarea.invalid:focus,
.bpp-properties-panel [contenteditable].invalid:focus {
  box-shadow: 0 0 1px 2px fade(#cc3333, 20%);
}
.bpp-properties-panel [type='text'],
.bpp-properties-panel [contenteditable],
.bpp-properties-panel textarea,
.bpp-properties-panel select {
  width: 100%;
}
.bpp-properties-panel [contenteditable],
.bpp-properties-panel textarea {
  resize: vertical;
}
.bpp-properties-panel [contenteditable] {
  outline: 0px solid transparent;
  background-color: white;
  overflow-y: auto;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
.bpp-properties-panel [contenteditable]:before {
  content: '\feff';
}
.bpp-properties-panel [disabled] {
  color: #808080;
}
.bpp-properties-panel label {
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  color: #666;
  margin-bottom: 3px;
}
.bpp-properties-panel label[for] {
  cursor: pointer;
}
.bpp-properties-panel label.bpp-hidden {
  display: none;
}
.bpp-properties-panel .entry-label {
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  color: #666;
  font-size: 120%;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: margin 0.218s linear;
  font-style: italic;
}
.bpp-properties-panel .entry-label[for] {
  cursor: pointer;
}
.bpp-properties-panel .entry-label.bpp-hidden {
  display: none;
}
.bpp-properties-panel .entry-label.divider {
  border-top: 1px dotted #ccc;
  padding-top: 8px;
  margin-top: 16px;
  width: 100%;
}
.bpp-properties-panel button {
  position: absolute;
  top: 0;
  height: 23px;
  width: 24px;
  overflow: hidden;
  cursor: pointer;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}
.bpp-properties-panel button > span {
  display: none;
}
.bpp-properties-panel button:before {
  font-family: 'bpmn-js-pp';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.bpp-properties-panel button.add:before {
  content: '\E803';
}
.bpp-properties-panel button.clear:before {
  content: '\E802';
}
.bpp-properties-panel button:hover {
  color: #52b415;
}

.bpp-error-message,
.bpp-error-message.bpp-entry-link {
  margin-top: 5px;
  color: #cc3333;
}

.bpp-row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.bpp-row:first-of-type {
  margin-top: 0;
}
.bpp-row:last-of-type {
  margin-bottom: 0;
}

.bpp-textfield,
.bpp-textbox {
  margin-bottom: 3px;
}

.bpp-radios-group {
  list-style: none;
  padding: 0;
  margin: 0 0 9px 0;
}
.bpp-radios-group .bpp-radio-wrapper {
  margin: 6px 0;
}
.bpp-radios-group input,
.bpp-radios-group label {
  vertical-align: middle;
}
.bpp-radios-group input {
  margin-top: 0;
  margin-left: 0;
}

.bpp-radios-group input,
.bpp-checkbox input {
  margin-left: 0;
}

.bpp-radios-group label:after,
.bpp-checkbox label:after {
  display: none;
}

.bpp-textfield input {
  padding-right: 28px;
}

.bpp-textfield .clear {
  background: transparent;
  border: none;
  top: 0;
  right: 0;
}

.bpp-combo-input {
  margin-top: 7px;
}

.bpp-select select {
  height: 23px;
}

.bpp-select button.add {
  top: -22px;
  right: 0;
}

.bpp-select button.add,
.bpp-select button.clear,
.bpp-element-list button.add,
.bpp-element-list button.clear {
  top: -23px;
  border-bottom: none;
}

.bpp-select button.add,
.bpp-element-list button.add {
  right: 0px;
}

.bpp-select button.clear,
.bpp-element-list button.clear {
  right: 23px;
}

.bpp-properties-entry {
  margin-bottom: 9px;
}
.bpp-properties-entry .bpp-field-wrapper {
  position: relative;
}
.bpp-properties-entry .bpp-field-wrapper input[readonly] + .clear {
  display: none;
}
.bpp-properties-entry .bpp-field-wrapper select {
  resize: vertical;
}

.bpp-hidden {
  display: none;
}

.bpp-table-add-row > button {
  position: relative;
  margin-left: 10px;
}

.bpp-table {
  margin-top: 10px;
}

.bpp-table-row {
  margin-bottom: 2px;
  overflow: hidden;
}
.bpp-table-row > input,
.bpp-table-row > button {
  float: left;
}
.bpp-table-row > label {
  padding-left: 5px;
}
.bpp-table-row > label.bpp-table-row-columns-1,
.bpp-table-row > input.bpp-table-row-columns-1 {
  width: 100%;
}
.bpp-table-row > label.bpp-table-row-columns-1.bpp-table-row-removable,
.bpp-table-row > input.bpp-table-row-columns-1.bpp-table-row-removable {
  width: calc(100% - 24px);
}
.bpp-table-row > label.bpp-table-row-columns-2,
.bpp-table-row > input.bpp-table-row-columns-2 {
  width: 50%;
  box-sizing: border-box;
}
.bpp-table-row > label.bpp-table-row-columns-2.bpp-table-row-removable,
.bpp-table-row > input.bpp-table-row-columns-2.bpp-table-row-removable {
  width: calc(50% - 12px);
}
.bpp-table-row > label.bpp-table-row-columns-2:nth-child(2),
.bpp-table-row > input.bpp-table-row-columns-2:nth-child(2) {
  border-left: none;
}
.bpp-table-row > button {
  border-left: none;
  position: static;
}

.bpp-properties-static {
  margin-bottom: 0;
  margin-top: 0;
  border: 1px solid #ccc;
  background-color: white;
  padding: 3px 6px;
  font: 13.3333px Arial;
  width: 100%;
}

.bpp-entry-link {
  cursor: pointer;
  color: #52b415;
}

.bpp-icon-warning:before {
  font-family: 'bpmn-js-pp';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\E806';
}

.bpp-field-description {
  margin-top: 5px;
  color: #999;
}
.bpp-field-description a {
  color: #3d8610;
  text-decoration: none;
}
.bpp-field-description a:hover {
  color: #52b415;
}

.bpp-properties-header {
  padding: 15px;
  padding-bottom: 5px;
}
.bpp-properties-header > .label {
  font-size: 120%;
  font-weight: bolder;
}
.bpp-properties-header > .search {
  display: none;
  margin-top: 5px;
  position: relative;
}
.bpp-properties-header > .search input {
  position: relative;
  border-radius: 15px;
  width: 100%;
  z-index: 1;
}
.bpp-properties-header > .search button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.bpp-properties-header > .search button:before {
  content: '\E805';
}

.bpp-properties-group {
  padding: 6px 15px 6px 15px;
  position: relative;
  overflow: hidden;
  transition: max-height 0.218s ease-in-out, padding-top 0.218s ease-in-out,
    padding-bottom 0.218s ease-in-out;
}
.bpp-properties-group:empty {
  display: none;
}
.bpp-properties-group > .group-toggle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  cursor: pointer;
  transition: background-color 0.218s linear;
}
.bpp-properties-group > .group-toggle:hover {
  background-color: #8fc071;
}
.bpp-properties-group > .group-label {
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  color: #666;
  font-size: 120%;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: margin 0.218s linear;
  font-style: italic;
}
.bpp-properties-group > .group-label[for] {
  cursor: pointer;
}
.bpp-properties-group > .group-label.bpp-hidden {
  display: none;
}
.bpp-properties-group:hover > .group-toggle {
  background-color: #ccc;
}
.bpp-properties-group:hover > .group-toggle:hover {
  background-color: #8fc071;
}
.bpp-properties-group.group-closed {
  max-height: 20px;
  border-top: none;
  cursor: pointer;
  background-color: fade(#8fc071, 20%);
  padding-top: 0;
  padding-bottom: 0;
}
.bpp-properties-group.group-closed > div {
  visibility: hidden;
}
.bpp-properties-group.group-closed > .group-label {
  margin-top: 2px;
  margin-bottom: 2px;
}
.bpp-properties-group.group-closed:hover > .group-label {
  color: #52b415;
}
.bpp-properties-group + .bpp-properties-group {
  border-top: 1px dotted #ccc;
}
.bpp-properties-group:last-child {
  padding-bottom: 9px;
}

.cam-add-listener > button {
  position: relative;
  margin-left: 10px;
}

[data-list-entry-container] > .bpp-listener-area {
  border: 1px solid #ccc;
  margin: 10px 1px;
  padding: 10px;
}

.bpp-listener-area {
  position: relative;
}
.bpp-listener-area > button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
}

.bpp-listener-area + .bpp-listener-area {
  margin-top: 20px;
}

.bpp-properties-tab-bar {
  border-bottom: 1px solid #ccc;
  padding: 0 15px;
}
.bpp-properties-tab-bar .scroll-tabs-button {
  cursor: pointer;
  font-size: 16px;
  padding: 3px 4px 3px 4px;
  color: #666;
}
.bpp-properties-tab-bar .scroll-tabs-button:hover {
  font-weight: bold;
}
.bpp-properties-tab-bar .scroll-tabs-button.scroll-tabs-left {
  float: left;
  margin-left: -15px;
}
.bpp-properties-tab-bar .scroll-tabs-button.scroll-tabs-right {
  float: right;
  margin-right: -15px;
}
.bpp-properties-tab-bar:not(.scroll-tabs-overflow) .scroll-tabs-button {
  display: none;
}

ul.bpp-properties-tabs-links {
  margin: 5px 0 -1px 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
ul.bpp-properties-tabs-links > li {
  display: inline-block;
  margin: 0;
}
ul.bpp-properties-tabs-links > li > a {
  display: inline-block;
  font-size: 12px;
  padding: 4px 7px;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
  border-bottom: transparent;
  background-color: #f8f8f8;
  color: #666;
  text-decoration: none;
}
ul.bpp-properties-tabs-links > li > a:hover {
  color: #4d4d4d;
}
ul.bpp-properties-tabs-links > li + li {
  margin-left: 4px;
}
ul.bpp-properties-tabs-links > li.bpp-active a {
  padding-bottom: 5px;
  border-top: 2px solid #52b415;
  border-bottom: none;
}

.bpp-properties-tab,
.bpp-properties-tab.bpp-hidden {
  display: none;
}

.bpp-properties-tab.bpp-active {
  display: block;
}

.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* FIX CONTEXT PAD ENTRIES */
.djs-context-pad .entry:before {
  margin: 0;
}

.canvas {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background-color: transparent;
  fill: #d7d7d7;
  background-size: 59px 59px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgb(215, 215, 215)} %3C/style%3E%3Ccircle class='st0' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='336.6' r='12.7'/%3E%3Cg%3E%3Ccircle class='st0' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='419.5' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='500.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='170.9' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='253.8' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='88' r='12.7'/%3E%3C/g%3E%3C/svg%3E");
  overflow-y: hidden;
}

.bjs-powered-by {
  visibility: hidden;
  display: none;
}

.content.with-diagram .canvas {
  visibility: visible;
}

.fullscreen {
  background: white;
}

.bpmn-icon-script-task-validation.script-task-validation-label {
  color: #2ac4c1 !important;
}

.bpmn-icon-script-task-validation-palette.script-task-validation-label {
  color: #2ac4c1 !important;
}

.bpmn-icon-user-task-validation.user-task-validation-label {
  color: #fbb344 !important;
}
