@import '../styles/var';

.bpp-properties-header {
    padding: 15px;
    padding-bottom: 5px;
  
    .label {
      font-size: 120%;
      font-weight: bolder;
    }
  
    .search {
      display: none;
      margin-top: 5px;
      position: relative;
  
      input {
        position: relative;
        border-radius: 15px;
        width: 100%;
        z-index: 1;
      }
  
      button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border: none;
        background-color: transparent;
        z-index: 2;
        &:before {
          content: '\E805';
        }
      }
    }
  }
  
  .invalid {
    border-color: $bpp-color-error;
    background: $bpp-color-error-bg;
  }
  
  .focus {
    // outline-color: $bpp-color-primary;
    outline: none;
    border-color: $bpp-color-primary;
    box-shadow: 0 0 1px 2px fade($bpp-color-primary, 20%);
  }
  
  
  .icon-font {
    font-family: "bpmn-js-pp";
    font-style: normal;
    font-weight: normal;
  
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .overlay {
    background-color: $bpp-color-gray-lighter;
  }
  
  .action-button {
    position: absolute;
    top: 0;
    height: 23px;
    width: 24px;
    overflow: hidden;
    cursor: pointer;
    background-color: $bpp-color-gray-lighter;
    border: 1px solid $bpp-color-gray-light;
  
    span {
      display: none;
    }
  
    &:before {
      position: relative;
    }
  
    &.add:before {
      content: '\E803';
    }
  
    &.clear:before {
      content: '\E802';
    }
  
    &:hover {
      color: $bpp-color-primary;
    }
  }
  
  .label {
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    color: $bpp-color-gray;
    &[for] {
      cursor: pointer;
    }
    &.bpp-hidden { display: none; }
  }


  //Groups
    
.bpp-properties-group {
  padding: 6px 15px 6px 15px;
  position: relative;
  overflow: hidden;
  transition: max-height 0.218s ease-in-out,
              padding-top 0.218s ease-in-out,
              padding-bottom 0.218s ease-in-out;

  &:empty {
    display: none;
  }

.group-toggle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  cursor: pointer;
  transition: background-color 0.218s linear;
  &:hover {
    background-color: $bpp-color-toggle;
  }
}

.group-label {
  font-size: 120%;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: margin 0.218s linear;
  font-style: italic;
}

  &:hover > .group-toggle {
    background-color: $bpp-color-gray-light;
    &:hover {
      background-color: $bpp-color-toggle;
    }
  }

  &.group-closed {
    max-height: 20px;
    border-top: none;
    cursor: pointer;
    background-color: fade($bpp-color-toggle, 20%);
    padding-top: 0;
    padding-bottom: 0;

  div {
      visibility: hidden;
    }

  .group-label {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &:hover > .group-label {
      color: $bpp-color-primary;
    }
  }

  .bpp-properties-group {
    border-top: 1px dotted $bpp-color-gray-light;
  }

  &:last-child {
    padding-bottom: 9px;
  }
}


// Listeners
.cam-add-listener {
  > button {
    position: relative;
    margin-left: 10px;
  }
}

[data-list-entry-container] > .bpp-listener-area {
  border: 1px solid $bpp-color-gray-light;
  margin: 10px 1px;
  padding: 10px;
}

.bpp-listener-area {
  position: relative;
  > button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
  }
}

.bpp-listener-area + .bpp-listener-area {
  margin-top: 20px;
}

// Properties
.bpp-properties-panel {
  position: relative;

  &:empty {
    display: none;
  }

  label,
  input {
    vertical-align: middle;
  }

  input,
  button,
  textarea,
  [contenteditable] {
    padding: 3px 6px;
    border: 1px solid $bpp-color-gray-light;

    // &:focus {
    // }

    &.invalid {
      &:focus {
        box-shadow: 0 0 1px 2px fade($bpp-color-error, 20%);
      }
    }
  }

  [type=text],
  [contenteditable],
  textarea,
  select {
    width: 100%;
  }

  [contenteditable],
  textarea {
    resize: vertical;
  }

  [contenteditable] {
    outline: 0px solid transparent;
    background-color: white;

    overflow-y: auto;

    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    &:before {
      content: "\feff";
    }
  }

  [disabled] {
    color: #808080;
  }

  label {

    margin-bottom: 3px;
  }

  .entry-label {
    font-size: 120%;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: margin 0.218s linear;
    font-style: italic;

    &.divider {
      border-top: 1px dotted #ccc;
      padding-top: 8px;
      margin-top: 16px;
      width: 100%;
    }
  }

}

.bpp-error-message,
.bpp-error-message.bpp-entry-link {
  margin-top: 5px;
  color: $bpp-color-error;
}

.bpp-row {
  margin-top: 10px;
  margin-bottom: 10px;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.bpp-textfield,
.bpp-textbox {
  margin-bottom: 3px;
}

.bpp-radios-group {
  list-style: none;
  padding: 0;
  margin: 0 0 9px 0;

  .bpp-radio-wrapper {
    margin: 6px 0;
  }

  input,
  label {
    vertical-align: middle;
  }

  input {
    margin-top: 0;
    margin-left: 0;
  }
}

.bpp-radios-group,
.bpp-checkbox {
  input {
    margin-left: 0;
  }

  label {
    &:after {
      display: none;
    }
  }
}

.bpp-textfield {
  input {
    padding-right: 28px;
  }

  .clear {
    background: transparent;
    border: none;
    top: 0;
    right: 0;
  }
}

.bpp-combo-input {
  margin-top: 7px;
}

.bpp-select {
  select {
    height: 23px;
  }
  button.add {
    top: -22px;
    right: 0;
  }
}

.bpp-select,
.bpp-element-list {

  button {
    &.add,
    &.clear {
      top: -23px;
      border-bottom: none;
    }
  }

  button.add {
    right: 0px;
  }

  button.clear {
    right: 23px;
  }
}

.bpp-properties-entry {
  margin-bottom: 9px;

  .bpp-field-wrapper {
    position: relative;

    input[readonly] + .clear {
      display: none;
    }

    select {
      resize: vertical;
    }
  }
}

.bpp-hidden {
  display: none;
}

// label.bpp-hidden {
//   .bpp-hidden;
// }

.bpp-table-add-row {
button {
    position: relative;
    margin-left: 10px;
  }
}

.bpp-table {
  margin-top: 10px;
}

.bpp-table-row {
  margin-bottom: 2px;
  overflow: hidden;

input,
button {
    float: left;
  }

label {
    padding-left: 5px;
  }

label,
input {

    &.bpp-table-row-columns-1 {
      width: 100%;
      &.bpp-table-row-removable {
        width: "calc(100% - 24px)";
      }
    }

    &.bpp-table-row-columns-2 {
      width: 50%;
      box-sizing: border-box;
      &.bpp-table-row-removable {
        width: "calc(50% - 12px)";
      }
      &:nth-child(2) {
        border-left: none;
      }
    }
  }

button {
    border-left: none;
    position: static;
  }
}

.bpp-properties-static {
  margin-bottom: 0;
  margin-top: 0;
  border: 1px solid $bpp-color-gray-light;
  background-color: white;
  padding: 3px 6px;
  font: 13.3333px Arial;
  width: 100%;
}

.bpp-entry-link {
  cursor: pointer;
  color: $bpp-color-primary;
}

.bpp-icon-warning:before {
  content: '\E806';
}

.bpp-field-description {
  margin-top: 5px;
  color: #999;

  a {
    color: darken($bpp-color-primary, 10%);
    text-decoration: none;

    &:hover {
      color: $bpp-color-primary;
    }
  }
}

// Tabs
.bpp-properties-tab-bar {
  border-bottom: 1px solid $bpp-color-gray-light;
  padding: 0 15px;

  .scroll-tabs-button {
    cursor: pointer;
    font-size: 16px;
    padding: 3px 4px 3px 4px;
    color: $bpp-color-gray;

    &:hover {
      font-weight: bold;
    }

    &.scroll-tabs-left {
      float: left;
      margin-left: -15px;
    }

    &.scroll-tabs-right {
      float: right;
      margin-right: -15px;
    }
  }

  &:not(.scroll-tabs-overflow) {
    .scroll-tabs-button {
      display: none;
    }
  }
}

ul.bpp-properties-tabs-links {
  margin: 5px 0 -1px 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;

li {
    display: inline-block;
    margin: 0;

  a {
      display: inline-block;

      font-size: 12px;
      padding: 4px 7px;

      border: 1px solid $bpp-color-gray-light;
      border-radius: 3px 3px 0 0;
      border-bottom: transparent;

      background-color: $bpp-color-gray-lighter;
      color: $bpp-color-gray;

      text-decoration: none;

      &:hover {
        color: darken($bpp-color-gray, 10%);
      }
    }
  }

li + li {
    margin-left: 4px;
  }

  > li.bpp-active {

    a {
      padding-bottom: 5px;

      border-top: 2px solid $bpp-color-primary;
      border-bottom: none;
    }
  }
}

.bpp-properties-tab,
.bpp-properties-tab.bpp-hidden {
  display: none;
}

.bpp-properties-tab.bpp-active {
  display: block;
}